@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-Medium.woff2') format('woff2'),
        url('../assets/fonts/Comfortaa-Medium.woff') format('woff'),
        url('../assets/fonts/Comfortaa-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nerko One';
    src: url('../assets/fonts/NerkoOne-Regular.woff2') format('woff2'),
        url('../assets/fonts/NerkoOne-Regular.woff') format('woff'),
        url('../assets/fonts/NerkoOne-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

